<p-card styleClass="main-card">
  <div class="col-12 flex justify-content-center flex-wrap">
    <img class="profile-img" [src]="bio.image" />
  </div>
  <div class="col-12 mt-3">
    <p class="profile-name">{{ bio.name }}, {{ bio.age }}</p>
  </div>
  <div class="col-12 mt-2">
    <p class="profile-bio">{{ bio.bio }}</p>
  </div>
  <div
    class="col-12 mt-3 flex justify-content-center flex-wrap no-label-button"
  >
    <button
      pButton
      pRipple
      type="button"
      class="p-button-rounded p-button-outlined mr-2"
    >
      <ion-icon class="icon-font-size" name="logo-linkedin"></ion-icon>
    </button>
    <button
      pButton
      pRipple
      label=""
      type="button"
      class="p-button-rounded p-button-outlined mr-2"
    >
      <ion-icon class="icon-font-size" name="logo-twitter"></ion-icon>
    </button>
    <button
      pButton
      pRipple
      type="button"
      class="p-button-rounded p-button-outlined mr"
    >
      <ion-icon class="icon-font-size" name="logo-instagram"></ion-icon>
    </button>
  </div>
  <p-divider></p-divider>
  <div class="col-12">
    <button
      pButton
      pRipple
      type="button"
      label="C O M M I S I O N S "
      class="p-button-text w-full mt-3"
      routerLink="/home"
    ></button>
  </div>
</p-card>
